<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="description" content="Cheffe de projet événementielle basée à Marseille. Forte d'une expérience en gestion d'événements physiques & digitaux,
    je vous propose mes services en vous accompagnant dans la réalisation et la réussite de vos évents.">
    <meta name="author" content="">
    <meta name="copyright" content="">
    <title>Zill-Event by Lea Zillweger</title>

    <noscript>Your browser does not support JavaScript!</noscript>
</head>
<body>

<article id="transitionArticle">
    <h1>ZL</h1>
</article>

<header>

</header>

<span id="icone">
    <div class="barre"></div>
    <div class="barre"></div>
</span>

<main>
    {% block content %}
    {% endblock %}
</main>

<footer>

</footer>
<script src="{{BASE_PATH}}/modules/jquery-3.6.0.min.js"></script>
{% block script %}
{% endblock %}
</body>
</html>